.my-card {
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
  }
  
  
  .name-container-image{
    text-align: center;
    padding: 2%;
  }
  