


<div class="row">
    <div class="col-sm-12 col-lg-3 col-md-3" *ngFor="let image of images" style="margin-bottom: 20px;">
        <div class="my-card" (click)="chooseImage(image.id)">
          <img  style="width: 100%; height: 200px; object-fit: cover; border-radius: 4px;" appLazyLoad
            [src]="image.url" [alt]="image.name" />
          <div class="name-container-image">
            <div>{{ image.name || "NO NAME" }}</div>
          </div>
        </div>
      </div>

      <div mat-dialog-actions>
        <button (click)="onNoClick()">Cancel</button>
        <button 
        (click)="valideClick()" cdkFocusInitial>Ok</button>
      </div>

</div>
