

<div *ngIf="etatStep" class="card card-user">
    <div class="card-body">
        <button [routerLink]="['/new-itinerary/create-day']" (click)="onDayClick()" type="button" class="btn btn-success btn-round mr-2">
            <i class="nc-icon nc-simple-add font-weight-bold"></i>
            Add new day 
        </button>
        <button [routerLink]="['/new-itinerary/create-step']" (click)="onStepClick()" type="button" class="btn btn-default btn-round">
            <i class="nc-icon nc-simple-add font-weight-bold"></i>
            Add step for "day title"
        </button>
    </div>
</div>
<form *ngIf="!etatStep" [formGroup]="stepForm" (ngSubmit)="onSubmitStep()">
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title text-center"> Add step for "day title"</h5>
            </div>
            <div class="card-body">

                <!-- <div class="row">
          <div class="update ml-auto mr-auto ">
            <button type="button" (click)="initGroupStep()" class="btn btn-primary btn-round">Add Day</button>
          </div>
        </div> -->

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" formControlName="titleStep" class="form-control" placeholder="Step title"
                                value="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Priority</label>
                            <input type="number" formControlName="priorityStep" class="form-control"
                                placeholder="Step order">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Step description</label>
                            <textarea formControlName="descriptionStep" class="form-control textarea">
                </textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="update col-md-12 ">
                        <button class="btn btn-secondary btn-round" type="button" (click)="openDialogGallery()">
                            <i class="nc-icon nc-camera-compact"></i>
                            Add picture</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: right;">
                        <div class="update">
                            <button type="submit" [disabled]="stepForm.invalid" class="btn btn-success btn-round">
                                <i class="nc-icon nc-simple-add font-weight-bold"></i>
                                Validate new step</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>