<div class="row">
  <div class="col-md-12">
    <div class="card">

      <div class="card-header">
        <button [routerLink]="['/new-itinerary']" class="btn btn-sm btn-primary btn-round">New Itinerary</button>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Category
              </th>
              <th>
                Title
              </th>
              <th>
                Subtitle
              </th>
              <th>
                Designation
              </th>
              <th>
                Illustration
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let itinerary of itineraryList">
                <td>
                  {{itinerary.title}}
                </td>
                <td>
                  {{itinerary.title}}
                </td>
                <td>
                  {{itinerary.subTitle}}
                </td>
                <td>
                  {{itinerary.designation}}
                </td>
                <td>
                  <div class="avatar">
                    <img [src]=" itinerary.image" alt="Circle Image"
                      class="img-circle img-no-padding img-responsive">
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>