<div class="wrapper">
    <div class="sidebar" data-color="dark" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class=" my-main-panel main-panel">
        <!-- <navbar-cmp></navbar-cmp> -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
