

<form [formGroup]="stepItemForm" (ngSubmit)="onSubmitForm()">
<div mat-dialog-content>Itinerary step</div>
<div mat-dialog-content>
    
    <div class="card-body">

        <div class="row">
            <div class="update ml-auto mr-auto ">
                <button type="button" (click)="initGroup()" class="btn btn-primary btn-round">Add step</button>
            </div>
        </div>

        <div formArrayName="dayStep">
            <div class="bg-light dynamicForm rounded" *ngFor="let row of stepItemForm.controls.dayStep.controls; let i = index"
                [formGroupName]="i">

                <div class="row">
                    <div class="col-md-7 pr-1">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" formControlName="titleStep" class="form-control" placeholder="Step title"
                                value="">
                        </div>
                    </div>
                    <div class="col-md-3 px-1">
                        <div class="form-group">
                            <label>Priority</label>
                            <input type="number" formControlName="priorityStep" class="form-control" placeholder="Step order">
                        </div>
                    </div>

                    <div class="col-md-1 pl-1" style="margin-top: 18px;">
                        <div class="form-group">
                            <button class="btn btn-danger" (click)="onDeleteRow(i)">
                                <i class="nc-icon nc-simple-remove"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Step description</label>
                            <textarea formControlName="descriptionStep" class="form-control textarea">
                        </textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="update col-md-12 ">
                        <button  class="btn btn-secondary btn-round" type="button" (click)="openDialogGallery()">
                            <i class="nc-icon nc-camera-compact"></i>
                            Add picture</button>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div mat-dialog-actions>
    <button (click)="onNoClick()">Cancel</button>
    <button 
    [disabled]="stepItemForm.invalid"
     type="submit" cdkFocusInitial>Ok</button>
  </div>
</form>
<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->