<form [formGroup]="stepForm" (ngSubmit) = "onSubmitItinerary()">

  <div class="row">

    <!-- itinerary form -->
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Itinerary</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="categoryStep">Tour category</label>
                <select id="categoryStep" class="form-control" formControlName="categoryStep">
                  <option *ngFor="let c of listeCategoryStep" [value]="c.id">{{c.designation}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Designation</label>
                <input type="text" formControlName="designationIt" class="form-control"
                  placeholder="Itinerary designation" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Title</label>
                <input type="text" formControlName="titleIt" class="form-control" placeholder="itinerary title"
                  value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Subtitle</label>
                <input type="text" formControlName="subTitleIt" class="form-control" placeholder="itinerary subtitle"
                  value="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="update">
                <button type="button" (click)="openDialogGallery()" class="btn btn-secondary btn-round">
                  <i class="nc-icon nc-camera-compact"></i>
                  Add picture</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="text-align: right;">
          <div class="update">
            <button type="submit" 
            [disabled]="stepForm.invalid"
              class="btn btn-success btn-round">
              <i class="nc-icon nc-simple-add font-weight-bold"></i>
              Validate new itinerary</button>
          </div>
        </div>
      </div>
      
    </div>
    <!-- Step from -->
  </div>

</form>