
<div class="sidebar-wrapper">
  <div class="logo">
    
    <a href="http://www.creative-tim.com" class="logo my-cont-logo">
      <div class="logo-image-small">
        <img src="assets/img/logo.png" class="my-logo">
      </div>
    </a>
    
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
