 
 
 <form [formGroup]="dayForm" (ngSubmit) = "onSubmitDay()">
 <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title text-center"> Add day for "itinerary title"</h5>
      </div>
      <div class="card-body">
<!-- 
        <div class="row">
          <div class="update ml-auto mr-auto ">
            <button type="button" (click)="initGroupStep()" class="btn btn-primary btn-round">Add Day</button>
          </div>
        </div> -->

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" formControlName="titleStep" class="form-control" placeholder="Step title" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Priority</label>
                  <input type="number" formControlName="priorityStep" class="form-control" placeholder="Step order">
                </div>
              </div>

              <!-- <div class="col-md-1 pl-1" style="margin-top: 18px;">
                <div class="form-group">
                  <button class="btn btn-info" (click)="openDialogStep()" type="button">
                    <i class="nc-icon nc-bullet-list-67"></i>
                  </button>
                </div>
              </div>

              <div class="col-md-1 pl-1" style="margin-top: 18px;">
                <div class="form-group">
                  <button class="btn btn-danger" (click)="onDeleteRow(i)">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                </div>
              </div> -->
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align: right;">
              <div class="update">
                <button type="submit" 
                [disabled]="dayForm.invalid"
                  class="btn btn-success btn-round">
                  <i class="nc-icon nc-simple-add font-weight-bold"></i>
                  Validate new Day</button>
              </div>
            </div>
          </div>



      </div>
    </div>
  </div> 
 </form>