<div class="dialogContainer" style="overflow: auto">
  <h1>ADD NEW IMAGE</h1>
  <form [formGroup]="ImageForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" formControlName="categorieImageId">
        <option value="" selected>Select category of this images</option>
        <option [value]="category.id" *ngFor="let category of categories">{{category.designation}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="imageName">image Name</label>
      <input type="text" class="form-control" id="imageName" formControlName="name" placeholder="Enter here image name">
    </div>
    <div class="form-group">
      <label for="littleDescription">Sort description</label>
      <input type="text" class="form-control" id="littleDescription" formControlName="littleDescription"
        placeholder="Enter the sort description">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label for="video">Video</label>
      <textarea style="height: 50px;" class="form-control" formControlName="video"></textarea>
    </div>
    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
      <ngx-dropzone-label>
        <h1>Insert here all images files</h1>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
        [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </div>
    <button style="border-radius: 20px;" type="submit" class="btn btn-primary">Validate</button>
  </form>
</div>
