<div class="container-fluid">
  <div class="row">
    <button (click)="openDialog()" class="btn btn-primary" style="border-radius: 20px"><i
        class="nc-icon nc-simple-add font-weight-bold"></i>&nbsp;add image</button>
  </div>
  <div class="row">
    <div class="card card-user" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title">IMAGES</h5>
      </div>
      <div class="card-body row">
        <div class="col-sm-12 col-lg-12 col-md-12 from-group" style="margin-bottom: 36px;">
          <label for="selectCategorie">Image category</label>
          <select class="form-control" id="selectCategorie" style="width: 50%; min-width: 300;"
            (change)="onCategorieChange($event.currentTarget.value)">
            <option value="">Select category here</option>
            <option *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.designation}}</option>
          </select>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-3" *ngFor="let image of images" style="margin-bottom: 20px;">
          <div class="my-card">
            <img style="width: 100%; height: 200px; object-fit: cover; border-radius: 4px;" appLazyLoad
              [src]="image.url" [alt]="image.name" />
            <div class="name-container-image">
              <div>{{ image.name || "NO NAME" }}</div>
              <div><Button class="btn btn-primary">View</Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
