<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="#">
                        Holy destination
                    </a>
                </li>
                <li>
                    <a href="#">
                       The king
                    </a>
                </li>
                <li>
                    <a href="#">
                        Devman
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.creative-tim.com">Combo coder</a>
        </div>
    </div>
</footer>
